.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 20px;
    background-color: rgb(32, 33, 35);
}